.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: 'Amaranth';
}

.login_form {
    display: flex;
    flex-direction: column;
}

.login_form > h1 {
    display: flex;
    justify-content: center;
    font-size: 35px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    letter-spacing: -1px;
    color: #00BFFF;
}

.login_form > p {
    display: flex;
    justify-content: center;
    color: #00BFFF;
    font-size: 18px;
}

.login_form > p > span {
    font-weight: bold;
}

.login_form > input {
    min-width: 380px;
    padding: 20px 0;
    padding-left: 15px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.24);
    font-family: 'Amaranth';
    border-radius: 10px;
    font-size: 20px;
    background-color: #ADD8E6;
}

.signIn_btn {
    padding: 17px 30px;
    margin-top: 10px;
    background: #1E90FF;
    border: none;
    color: white;
    font-size: 30px;
    font-family: 'Amaranth';
    border-radius: 10px;
}